negative_to_zero.py
decimals.py
Novi_Sad.geojson
Novi_Sad_Buildings_Small.geojson
old git stuff/asdf.geojson
old git stuff/Novi_Sad.geojson
old git stuff/Novi_Sad_Buildings.geojson
old git stuff/Novi_Sad_Buildings_Small.geojson
old git stuff/Novi_Sad_Parcels_old.geojson
old git stuff/sdfsdfsdfsdf.geojson
population_integer.py
Novi_Sad.geojson
Novi_Sad_Buildings_Small.geojson
